menuconfig OUR_DRIVER
	bool "Our custom driver"
	default y
	depends on DT_HAS_OUR_DRIVER_ENABLED  # only enable if present inside dts.
	select GPIO
	help
	  Enable the custom driver for GPIO peripheral
